.optionEditBox {
    display: flex;
    width: 100%;
}

.optionEditDragable {
    width: 30px;
    height: 100%;
    margin: 10px;
    background: wheat;
}

.optionEditContent {
    width: 100%;
    background: blue
}

.optionEditContentText {}

.optionEditContentSettings {}

.optionEditType {}

.optionEditShow {}