

.optionCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 1s;
    height: 120px;
}

.cardDescription{
    height: 75px;
}

.optionMain {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.optionContent {
    width: 100%;
    padding: 5px;
}

.optionVote {
    background: rgba(128, 128, 128, 0.14);
    border-radius: 5px;
    padding: 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionVote:active {
    background: rgba(128, 128, 128, 0.3);
}

.optionSelcetUp {
    background: rgba(21, 128, 26, 0.3);
}

.optionSelcetDown {
    background: rgba(124, 30, 30, 0.3);
}

.voteUp {
    animation-name: voteUp;
    animation-duration: 0.3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}

@keyframes voteUp {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-35deg)
    }
}

.voteDown {
    animation-name: voteDown;
    animation-duration: 0.3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}

@keyframes voteDown {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(35deg)
    }
}

.optionInfo {
    display: flex;
    justify-content: space-around;
    color: var(--textRegular);
    margin-top: 8px;
    border-top: 0.5px solid #d2d2d2;
}