.topMenu {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    background: white;
    width: 100%;
    display: flex;
}

.topMenuNav {
    flex: 1;
    text-align: center;
    padding: 5px;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
}

.topMenuNav:active {
    background: rgba(0, 0, 255, 0.1);
}

.topMenuNav div {
    font-size: 0.55rem;
}

.topMenuNavMarker {
    border-bottom: 0px solid blue;
    animation-name: navEnter;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.topMenuNavUnmark {
    border-bottom: 3px solid blue;
    animation-name: navExit;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes navEnter {
    from {
        border-bottom: 3px solid rgba(0, 0, 255, 0);
    }
    to {
        border-bottom: 3px solid rgba(0, 0, 255, 1);
    }
}

@keyframes navExit {
    from {
        border-bottom: 3px solid blue;
    }
    to {
        border-bottom: 0px solid blue;
    }
}