:root {
    --bckgPrimaryDark: #c67100;
    --bckgPrimary: #ffa000;
    --bckgPrimaytLight: #ffd149;
    --accent: #448aff;
    --textHeader: rgba(0, 0, 0, 0.78);
    --textHeaderSize: 1.3rem;
    --textHeaderWeight: 600;
    --textSubHeader: rgba(0, 0, 0, 0.68);
    --textHeaderSize: 1.1rem;
    --textHeaderSubTitleSize: 1rem;
    --textRegular: rgba(0, 0, 0, 0.55);
    --textRegularSize: 1rem;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
}

body {
    direction: rtl;
}

.page {
    width: 100%;
    height: 100%;
}