.splashPage {
    background: var(--mainBackground);
    color: var(--mainColor)
}

#splashName {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#splashSubName {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}